/* You can add global styles to this file, and also import other style files */
/* @import url('https://fonts.googleapis.com/css2? family= Anek+Malayalam:wght@100;400 & display=swap'); */

/* @import "primeng/resources/themes/saga-purple/theme.css";
@import "primeicons/primeicons.css";
@import "primeng/resources/primeng.css"; */

:root {
  --cartao-amarelo: rgb(243, 197, 0);
  --cartao-vermelho: rgb(250, 6, 14);
  --verde-bkg: #10502f;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.spacer {
  flex: 1 1 auto;
}